/* size web flexible */
* {
  box-sizing: border-box;
}

/* body halaman */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #eef1f5;
  margin: 0;
  padding: 30px;
}

/* card inti */
.card {
  background: #ffffff;
  max-width: 650px;
  margin: auto;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* judul */
h1 {
  margin: 0;
  color: #1f2937;
}

/* judul 2 */
.subtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

/* input tugas */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

/* sesi hover */
input:hover {
  outline: 2px solid #93c5fd;
}

input:focus {
  outline: 2px solid #2563eb;
  border-color: #2563eb;
}

/* tombol utama */
button {
  background-color: #2563eb;
  color: white;
  border: 2px solid transparent;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

/* hover tombol */
button:hover {
  background-color: #1d4ed8;
  border-color: #93c5fd;
}

/* daftar tugas */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

/* item tugas */
li {
  background: #f9fafb;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

/* hover tugas */
li:hover {
  border-color: #c7d2fe;
  background: #eef2ff;
}

/* tugas selesai */
.completed {
  text-decoration: line-through;
  color: #6b7280;
}

/* tombol selsai */
.actions button {
  background: #e5e7eb;
  color: #111827;
  border: 2px solid transparent;
  padding: 6px 10px;
  margin-left: 6px;
  border-radius: 5px;
  font-size: 12px;
}

/* hover tombol selsai */
.actions button:hover {
  border-color: #9ca3af;
  background: #f3f4f6;
}

/* info jumlah tugas */
#info {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #e5e7eb;
  color: #374151;
  font-size: 14px;
}
